.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.favoriteProduct {
  p {
    margin-bottom: 5px;
  }
  button {
    padding: 3px 10px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid black;
    margin-right: 10px;

    &:hover {
      background-color: black;
      color: white;
      transform: scale(1.1);
      transition: all 0.25s linear;
    }
  }
}
